* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr / 50% 50%;
}

.img {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 40%;
}

.stat,
.status {
    display: flex;
    flex-direction: column;
}

.status {
    width: 70%;
    margin: 15px;
}

.empty {
    height: 15px;
    border: black solid 5px;
    background-color: black;
    width: 100%;
    border-radius: 25px;
}

.img .empty {
    width: 60%;
    margin-top: 10px;
    justify-self: flex-end;
}

.img p {
    position: relative;
    right: 20%;
}

.full {
    background: linear-gradient(180deg, rgb(0, 216, 115) 0%, rgb(0, 167, 117) 100%);
    height: 100%;
    width: 80%;
    border-radius: 25px;
}

.actions {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 3px;
}

.button {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.button:hover {
    cursor: pointer;
}

.eat {
    background-color: rgb(159, 255, 223);
    color: rgb(0, 155, 116);
}

.eat .button {
    border: rgb(0, 155, 116) solid;
}

.play {
    background-color: rgb(255, 245, 159);
    color: rgb(194, 116, 0);
}

.play .button {
    border: rgb(194, 116, 0) solid;
}

.fight {
    background-color: rgb(255, 170, 159);
    color: rgb(139, 17, 17);
}

.fight .button {
    border: rgb(139, 17, 17) solid;
}

.sleep {
    background-color: rgb(159, 220, 255);
    color: rgb(0, 99, 192);
}

.sleep .button {
    border: rgb(0, 99, 192) solid;
}

.play,
.sleep {
    align-items: flex-end;
}

.fight,
.sleep {
    flex-direction: column-reverse;
}

.play .actions,
.sleep .actions {
    align-self: flex-end;
}

.stat-name {
    align-self: center;
    justify-self: flex-end;
    margin: 30px;
    font-size: 25px;
}

.sleep .stat-name,
.fight .stat-name {
    order: -1;
}

.full {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}